---
import Container from "../components/Container.astro";
import Sectionhead from "../components/Sectionhead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---

<BaseLayout pageTitle={pageTitle}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">About Me</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Hi 👋, I am James Garcia.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        I have been in tech in some form of capacity for over 10 years. 
        Still learning and still loving it. 
        I am grateful to have been in this field because it has provided 
        for me and my family. While I don't work as a full-time Rails 
        developer I have created a Rails app Sharedwise. It is a blogging 
        platform where a user creates a "Collection", which is basically an 
        organizational unit, and then create post under the collection 
        that are of a similar topic. People have different interest and so 
        this will help them to have different collections based on those interest.
      </p>
    </div>
  </Container>
</BaseLayout>
