---
import { SEO } from "astro-seo";
import "@fontsource-variable/inter/index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const makeTitle = pageTitle ? 'James Garcia | ' + pageTitle : 'James Garcia';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description="This my personal website - James Garcia."
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          title: "My personal website",
          type: "website",
          image: "https://https://avatars.githubusercontent.com/u/14931684?v=4",
        }
      }}
      twitter={{
        creator: "@jamgar2020"
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
